@model IPagedList<AchievementCategory>
@{
	ViewBag.Title = "分类管理";
}

@if (Model.Any())
{
	<table class="ui definition table">
		<thead>
			<tr>
				<th>名称</th>
				<th>标识</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr data-id="@item.CodeName" data-name="@item.DisplayName">
					<td><a asp-controller="Category" asp-action="Detail" asp-route-id="@item.AppId">@item.DisplayName</a></td>
					<td><code>@item.AppId</code></td>
					<td>
						<div class="ui mini buttons">
							<a asp-controller="Category" asp-action="Edit" asp-route-codeName="@item.CodeName" class="ui button">编辑</a>
							<button type="button" class="ui negative button" onclick="doDelete(this);">删除</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<pager />
}
else
{
	<div class="text-center text-muted">目前系统中还没有注册任何成就分类。</div>
}

<div class="ui divider"></div>

<a asp-controller="Category" asp-action="Create" class="ui primary button">创建分类</a>

<form class="ui form" asp-controller="Category" asp-action="Delete" method="post" asp-antiforgery="true">
	<input id="delete-app-id-input" type="hidden" name="id" />
	<div id="delete-app-modal" class="ui small modal" tabindex="-1">
		<i class="close icon"></i>
		<div class="header">删除应用警告</div>
		<div class="content">
			<p>你确定要删除分类<q><strong id="delete-app-name-text"></strong></q>吗？这个操作不可取消。如果要确定执行这个操作，请单击下方的<q>删除分类</q>按钮。否则请单击<q>关闭</q>按钮，或点击对话框外的任何位置。</p>
			<p>请注意，删除分类后，原来的分类成就也将被一并删除并不可恢复。重新创建分类后，用户必须重新获得这些成就。</p>
		</div>
		<div class="actions">
			<button type="submit" class="ui negative button">删除分类</button>
			<button type="button" class="ui button" data-dismiss="modal">关闭</button>
		</div>
	</div>
</form>

@section Scripts
{

	<script type="text/javascript">

		function doDelete(ele) {

			var row = $(ele).closest('tr');

			$('#delete-app-id-input').val($(row).data('id'));
			$('#delete-app-name-text').text($(row).data('name'));

			$('#delete-app-modal').modal('show');

		}

	</script>

}
