@using Microsoft.AspNetCore.Mvc.Localization
@model AchievementItem
@inject IViewLocalizer ViewLocalizer
@{
	var record = (AchievementRecord?)ViewBag.Record;
}

@if (!string.IsNullOrEmpty(Model.Description))
{
	<div class="card-text">@Model.Description</div>
	<hr />
}

@if (record != null)
{
	<strong>进度</strong>
	<div class="card-text">

		@if (record.IsCompleted)
		{
			<span class="text-success">已完成</span>
		}
		else
		{
			<span class="text-primary">@ViewLocalizer["{0}/{1}", record.CurrentValue!, Model.MaxValue!]</span>
		}

	</div>

	<hr />
}

@if (!string.IsNullOrEmpty(Model.Hint))
{
	<strong>提示</strong>
	<div class="card-text">@Model.Hint</div>
	<hr />
}

@if (!string.IsNullOrEmpty(Model.Reward))
{
	<strong>奖励</strong>
	<div class="card-text">@Model.Reward</div>
	<hr />
}

<div class="card-text"><code>@Model.CodeName</code></div>
