@using Sakura.AspNetCore.Localization
@using Sakura.AspNetCore.Mvc
@model AchievementDetailInfo
@inject IDynamicViewLocalizer Localizer
@{
	ViewBag.Title = Localizer.Html.Title(Model.Item.DisplayName);
}

<div class="ui centered card">
	<div class="image">
		<img alt="成就图标" src="@Model.Item.IconUri" />
	</div>
	<div class="content">
		<div class="description">@Model.Item.Description</div>
	</div>
</div>


<div class="ui styled fluid accordion">

	<div class="title active">
		<i class="dropdown icon"></i> 获得情况
	</div>

	<div class="content active">

		@if (Model.UserRecords.Any())
		{
			<div class="ui info message">@Localizer.Html.TotalUserCount(Model.UserRecords.TotalCount)</div>

			<div class="ui eight stackable doubling cards">
				@foreach (var item in Model.UserRecords)
				{
					<div class="card">

						<div class="blurring dimmable image">
							<div class="ui dimmer">
								
								<div class="center aligned content">
									<h4 class="header">@item.User.Name</h4>
								</div>
								<div class="center aligned extra content">
									@item.Record.Time.ToString("d")
								</div>

							</div>
							<img class="ui small circular image" src="@item.User.PortraitUrl" alt="用户头像" />
						</div>
						
					</div>
				}
			</div>

			<div class="ui divider"></div>
			<pager source="@Model.UserRecords" item-default-link="@PagerItemLinkGenerators.QueryName("userPage")" />
		}
		else
		{
			<div class="ui warning message">目前还没有任何玩家获得这个成就。</div>
		}
	</div>
</div>