@model IPagedList<AchievementItem>
@{
	ViewBag.Title = "成就管理";
	var search = (AchievementSearchModel)ViewBag.Search;
}

<partial name="_SearchPartial" model="search" />

@if (Model.Any())
{
	<table class="ui definition table">
		<thead>
			<tr>
				<th>名称</th>
				<th>标识</th>
				<th>分类</th>
				<th>类型</th>
				<th>计数</th>
				<th>动态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.DisplayName</td>
					<td><code>@item.CodeName</code></td>
					<td>
						<span>@item.Category.DisplayName</span>
					</td>
					<td>
						<span><enum-item-display-text value="@item.State" text-source="ShortName" /></span>
					</td>
					<td>
						@if (item.MaxValue != null)
						{
							<span>@item.MaxValue</span>
						}
						else
						{
							<span class="ui gray text">无</span>
						}
					</td>
					<td>
						@if (item.IsDynamic)
						{
							<span class="ui negative text">是</span>
						}
						else
						{
							<span class="ui text">否</span>
						}
					</td>
					<td>
						<div class="ui mini buttons">
							<a asp-controller="Achievement" asp-action="Edit" asp-route-category="@item.CategoryName" asp-route-name="@item.CodeName" class="ui button">编辑</a>
							<button type="button" class="ui negative button">删除</button>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<pager />
}
else
{
	<div class="text-center text-muted">目前系统中还没有任何成就</div>
}

<div class="ui divider"></div>
<a asp-controller="Achievement" asp-action="Create" class="ui primary button">创建新成就</a>